/* custom font family added - Abolition */
@font-face {
    font-family: Abolition;
    src: url(../fonts/Abolition/AbolitionTest-Regular.otf);
}

body {
    font-family: Abolition;
    background-color: rgb(194, 196, 206);
    padding-top: 20px;
}

.search-form {
    background-color: black;

}

main {
    background-color: rgb(1, 7, 43);
}

h1,
h2,

h4,
h5,
h6 {
    font-family: Abolition;
    font-weight: 200;
    letter-spacing: 1px;
}

h3 {
    font-family: Abolition;
    font-weight: 200;
    letter-spacing: 1px;
    color: aliceblue;
}

header {
    background-color: rgb(194, 196, 206);
}

#header {
    font-size: 50px;
}

.recipeCard:hover {
    transform: scale(1.10);
    z-index: 10;
    transition: all 250ms ease-in-out;
}

.cardImage {
    border: solid px rgb(1, 7, 43);
    border-radius: 40px;
    background-color: rgb(194, 196, 206);
    margin-bottom: 5px;
    margin-top: 20px;
}

.cardTitle {
    font-family: Abolition;
    font-size: 20px;
    font-weight: 200px;
    letter-spacing: 1px;
    text-align: center;
    background-color: rgb(194, 196, 206);
    color: rgb(1, 7, 43);
    padding: 10px;

}

.modal-header {
    background-color: rgb(194, 196, 206);
}

.modal-footer {
    background-color: rgb(194, 196, 206);
}

.modal-body {
    background-color: rgb(1, 7, 43);
    color: rgb(251, 252, 253);

}

#close {
    background-color: rgb(1, 7, 43);

}

#search-button {
    background-color: rgb(1, 7, 43);
    color: aliceblue;
}

#clear-history {
    background-color: rgb(1, 7, 43);
    color: aliceblue;
}

#historyRecipe button {
    background-color: aliceblue;
    border: 1px solid rgb(1, 7, 43);
    color: rgb(1, 7, 43);
    margin-left: 10px;
    margin-right: 10px;
}

.row {
    background-color: rgb(1, 7, 43);
    padding-bottom: 20px;
}

#giphy img {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    max-width: 33%;
}

footer {
    background-color: rgb(194, 196, 206);
}